<!-- Password Reset Sent Template -->
<!-- This HTML template is used for the "Password Reset Sent" page in the password reset flow. -->
<!-- It displays a confirmation message that a password reset email has been sent to the user. -->
<!-- The message includes instructions for setting the password and a note about checking the spam folder. -->
<!-- The page includes a "Go to Homepage" button that redirects the user to the homepage. -->
<!-- The template is styled using the "password_reset.css" stylesheet loaded from the static files. -->

{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Password Reset Sent</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/password_reset.css' %}">
</head>

<body>
    <div class="container">
        <h3 style="color: green;">Password Reset Sent</h3>

        <p>We've emailed you instructions for setting your password, if an account exists with the email you entered.
            You should receive them shortly.</p>

        <p style="color: red;">If you don't receive an email, please make sure you've entered the address you registered
            with and check your spam folder.</p>

        <a href="http://localhost:3000/" class="button" style="background-color:green ;">Go to Homepage</a>
    </div>
</body>

</html>