<!-- Enter New Password Template -->
<!-- This HTML template is used for the "Enter New Password" page in the password reset flow. -->
<!-- It displays a form where the user can enter their new password twice for verification. -->
<!-- The form is submitted using the "post" method to handle the password update. -->
<!-- The template includes the necessary CSRF token for security. -->
<!-- The form is rendered using the "form" variable, which is provided by the Django view. -->
<!-- The page includes a "Update password" button to submit the form. -->
<!-- The template is styled using the "password_reset.css" stylesheet loaded from the static files. -->

{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Enter New Password</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/password_reset.css' %}">
</head>

<body>
    <div class="container">
        <h3 style="color: green;">Enter New Password</h3>

        <p style="color: red;">Please enter your password twice so we can verify you typed it correctly.</p>

        <form method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Update password" style="background-color:green ;">
        </form>
    </div>
</body>

</html>