<!-- Password Reset Template -->
<!-- This HTML template is used for the "Password Reset" page in the password reset flow. -->
<!-- It displays a form where users can enter their email address to receive instructions for setting a new password. -->
<!-- The page includes a "Send email" button to submit the form. -->
<!-- The template is styled using the "password_reset.css" stylesheet loaded from the static files. -->

{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Password Reset</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/password_reset.css' %}">
</head>

<body>
    <div class="container">
        <h3 style="color: red;">Password Reset</h3>

        <p style="font-size: 20px;">Forgotten your password? Enter your email address below, and we'll email
            instructions for setting a new one.</p>

        <form method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Send email" style="background-color:green ;">
        </form>
    </div>
</body>

</html>