<!-- Password Reset Complete Template -->
<!-- This HTML template displays a success message after a user has successfully reset their password. -->
<!-- It includes a link to the homepage and is styled using the "password_reset.css" stylesheet loaded from the static files. -->
<!-- This template is used for the password reset complete view in the application's URLs. -->

{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Password Reset Complete</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/password_reset.css' %}">
</head>

<body>
    <div class="container">
        <h3 style="color: green;">Password Reset Complete</h3>

        <p>Your password has been set. You may go ahead and log in now.</p>

        <a href="http://localhost:3000/" class="button" style="background-color:green ;">Go to Homepage</a>
    </div>
</body>

</html>